@import 'variables';

:host {
  display: flex;

}

.search-box {
  position: relative;
  width: 100%;

  &__input {
    border: 1px solid $gray;
    border-radius: 15px;
    padding: 0 20px;
    height: 48px;
    width: 100%;
  }

  &__button {
    border-bottom: 1px solid $gray;
    border-right: 1px solid $gray;
    border-top: 1px solid $gray;
    border-left: none;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #eee;
    position: absolute;
    height: 48px;
    right: 0;

    &:disabled {
      background-color: #aaa;
      color: #fff;
    }

    &:hover {
      background-color: #ccc;

      &:disabled {
        background-color: #aaa;
      }
    }
  }

  &__clear {
    border: 1px solid $gray;
    border-radius: 50%;
    position: absolute;
    height: 48px;
    width: 48px;
    transform: translateX(100%);
    right: -15px;
  }
}
