<form
  [formGroup]="formSearch"
  (ngSubmit)="submited()"
  class="search-box"
  role="search">
  <input
    formControlName="search"
    autocomplete="on"
    autofocus
    type="search"
    id="search"
    class="search-box__input"
    placeholder="'pokemon.search.placeholder' | translate"
    [title]="'pokemon.search.placeholder' | translate"
    [attr.aria-label]="'pokemon.search.placeholder' | translate">

  <button
    type="submit"
    class="search-box__button primary"
    [disabled]="formSearch.invalid"
    [title]="'pokemon.search.button' | translate">
    <i class="material-icons">search</i>
  </button>
</form>
