<main class="container">
  <header class="pokemon">
    <img class="pokemon__photo" [src]="pokemon?.photo_default" [alt]="pokemon?.name">
    <h1 class="pokemon__name">{{ pokemon?.name }}</h1>
    <h2 class="pokemon__id">#{{ pokemon?.id }}</h2>
  </header>

  <section>
    <table class="pokemon-table">
      <tbody>
        <caption translate>pokemon.informations</caption>
        <tr>
          <th translate>pokemon.hp</th>
          <td>{{ pokemon?.hp }}</td>
        </tr>
        <tr>
          <th translate>pokemon.height</th>
          <td>{{ pokemon?.height }}</td>
        </tr>
        <tr>
          <th translate>pokemon.weight</th>
          <td>{{ pokemon?.weight }}</td>
        </tr>

        <caption translate>pokemon.stats</caption>
        <tr>
          <th translate>pokemon.attack</th>
          <td>{{ pokemon?.attack }}</td>
        </tr>
        <tr>
          <th translate>pokemon.special_attack</th>
          <td>{{ pokemon?.special_attack }}</td>
        </tr>
        <tr>
          <th translate>pokemon.defense</th>
          <td>{{ pokemon?.defense }}</td>
        </tr>
        <tr>
          <th translate>pokemon.special_defense</th>
          <td>{{ pokemon?.special_defense }}</td>
        </tr>
        <tr>
          <th translate>pokemon.speed</th>
          <td>{{ pokemon?.speed }}</td>
        </tr>

        <caption translate>pokemon.abilities</caption>
        <tr>
          <th translate>pokemon.abilities</th>
          <td>
            <ul>
              <li *ngFor="let ability of pokemon?.abilities">{{ability}}</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</main>
