@import 'mixins';
@import 'variables';

:host {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include size(100%);
}

.pokemon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  &__photo {
    width: 25%;
  }
  &__name {
    font-size: 3em;
    text-transform: capitalize;
  }
  &__id {
    padding-left: 0.5em;
    font-size: 2em;
    color: $gray;
  }
}

.pokemon-table {
  width: 100%;

  tbody {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  caption {
    display: block;
    color: $pokemon-abilities-title-font-color;
    font-weight: bold;
    font-size: 1.05em;
    padding: 20px 0 5px;
    text-align: center;
  }

  th {
    color: $pokemon-abilities-font-color;
    font-size: 1em;
    font-weight: normal;
    text-align: right;
    padding: 10px;
    width: 50%;
  }

  td {
    padding: 10px;
    width: 50%;
  }

  tr {
    align-items: center;
    border-bottom: 1px solid $pokemon-abilities-font-color;
    display: flex;
    width: 280px;
    &:last-child {
      border: none;
    }
  }

}
